@import "reset";
@import "mash/mash.scss";

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.article {
  margin: 20px auto 0 auto;
  width: 80%;
  @media (max-width: 400px) {
    width: 100%;
  }
  font-size: 2rem;
  line-height: 30px;
  // background-color: #eee;
  border-radius: 6px;
  padding-top: 10px;
  padding-left: 1%;
  padding-right: 1%;
  border-top: dashed 1px #ddd;
}

.article > .article-title {
  display: block;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 3.6rem;
}

.article > .meta {
  display: flex;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 1.4rem;
  height: 20px;
  color: #999;
  line-height: 20px;
  justify-content: center;
  margin: auto;
  .time {
    flex-shrink: 2;
    &:before {
      content: "|";
    }
    &:after {
      content: "|";
    }
  }
}

.article-list {
  display: block;
  margin: 50px auto 50px auto;
  width: 80%;
  & .list-head {
    font-size: 3.0rem;
  }
  ol.title-list {
    color: #757575;
    font-size: 1.8rem;
    display: block;
    box-sizing: border-box;
    margin-left: 2rem;
    list-style-type: disc;
    list-style-position: inside;
    > li {
      margin-top: 1.5rem;
      height: 2.0rem;
      line-height: 2.0rem;
      > a:hover {
        color: #E91E63;
      }
    }
  }
}
